@tailwind base;
@tailwind components;
@tailwind utilities;


html, body {
    transition: background-color 0.3s, color 0.3s;
  }

.bg-lunaris-dark {background-image:
  radial-gradient(at 100% 60%, #7f1e27 0, rgba(12,23,37,0) 55%),
  radial-gradient(at 85% 15%, #15263e 0, rgba(12,23,37,0) 40%),
  radial-gradient(at 0% 0%, rgba(12,23,37,0.8) 0, rgba(12,23,37,0) 100%),
  url("https://cdn.prod.website-files.com/61e750daa55a671737f07639/620444bed607d6fe9dd9d463_Noise_6percent_white.png"); /* image with noise */
  background-color: #0C1725;
}
.bg-lunaris-light {background-image:
  radial-gradient(at 100% 60%, #f7c1c6 0, rgba(232,235,238,0) 55%),
  radial-gradient(at 85% 15%, #b9c1cb 0, rgba(232,235,238,0) 40%),
  radial-gradient(at 0% 0%, rgba(185,193,203,0.5) 0, rgba(232,235,238,0) 100%),
  url("https://cdn.prod.website-files.com/61e750daa55a671737f07639/620444bed607d6fe9dd9d463_Noise_6percent_white.png"); /* image with noise */
  background-color: #E8EBEE;
}
.svg-wrapper {
  text-align: left;      /* Align left */
  width: 100%;           /* Full width container */
}
.responsive-svg {
  display: block;
  max-width: 100%;       /* Ensures it doesn’t overflow container */
  width: 100%;           /* Stretches to fill available width */
  height: auto;          /* Keeps aspect ratio */
}